/******For the main content*******/
.main_content_container {
	background-color: white;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	
	.comments_display_message {
        .popup {
            margin-left: 0px;
			width: 41%;
        }
    }
	
	@include break(0px,960px) {
		width: auto;
        padding: 0;
        margin: 0;
	}
	
}

/******For the content on the admin page*******/
.admin_content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/******For the log in form*******/
.login_box {
	margin-top: 100px;
	
	@include break(0px,960px) {
        margin: 0 auto;
    }
	
}

/******For the log in content*******/
.login_content {
  	background: #fff;
  	max-width: 360px;
  	margin: 0 auto 50px;
	
	@include break(0px,480px) {
        margin: 0 auto;
    }
    
    @include break(481px,960px) {
        margin: 0 auto;
    }
    
	h1 {
        margin: 50px;
		
		@include break(0px,304px) {
            font-size: 200%;
        }
        
        @include break(305px,960px) {
            font-size: 250%;
        }
	}
	
	label, input {

    @include break(0px,960px) {
        font-size: 125%;
        width: 100%;
    }

    }
    
    form {
        margin: 50px;
    }
	
}

/******For the statistics numbers*******/
.statistics_numbers {
	color: $titleColor;
	font-size: 30px;
	font-weight: bold;
}

/******For the links on the admin pages*******/
.links_admin {
	background-color: $backgroundColorHeader;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    @include break(0px, 650px) {
        padding-top: 15px;
    }
    li {
    @include break(0px, 830px) {
        display: block;
    }
    a {
        color: white;
        font-family: 'Poiret One', serif;
        font-weight: bold;
        padding-right: 25px;
        padding-left: 25px;
        @include break(0px, 830px) {
            display: block;
            padding-bottom: 6px;
            font-size: 18px;
            }   
        &:hover {
            color: $linkHover;
            }
        }
    }
}

/* to center the content on the admin pages */
.create_post, .edit_post {
	display: flex;
	justify-content: center; 
    @include break(0px, 960px) {
        width: auto;
        margin: 0 30px;
        padding-bottom: 30px;
    }
    form {
/*    @include break(0px,960px) {    
        overflow: auto;
        }*/
    }
    label, input {
        @include break(0px,960px) {
            font-size: 120%;
        }
    }
}

/* to center the h1 on the admin pages but not have the padding-bottom that the content have */
.create_post_header, .edit_post_header {
    display: flex;
    justify-content: center; 
    /*@include break(0px, 960px) {
        margin: auto;
        width: 100%;

    }*/
    h1 {
    @include break(0px, 960px) {
        text-align: center;
    }
    }
}

/* to get padding from the bottom of the page on the edit_post page */
.edit_post_main {
    display: flex;
    justify-content: center; 
    padding-bottom: 30px;
    @include break(0px, 780px) {
        width: auto;
        margin: 9px;
    }
}

.imgSize {
    width: 660px;
}

/*
==========================================
           MESSAGE POPUP
==========================================
*/

.popup {
    margin-left: 295px;
    padding-top: 20px;
    background: #fff;
    width: 35%;
    position: relative;
    visibility: visible;
    opacity: 1;
    
    .content {
        max-height: 30%;
        overflow: auto;
        background-color: #f2f2f2;
		font-size: 125%;
        text-align: center;
        @include rounded(10px);
    }
    
    a {
        position: absolute;
        top: 20px;
        right: 5px;
        transition: all 200ms;
        font-weight: bold;
        text-decoration: none;
        color: #333;

        &:hover {
            color:#fff;
        } 
    }
    
	@include break(0px,960px) {
        margin: 0 auto 50px;
        width: 35%;
        padding: 0;
	}
	
}

/*
==========================================
           TABLE WITH POSTS
==========================================
*/

.post_table {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-collapse: collapse;
    text-align: center;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    
    @include break(0px,960px) {
        width: 100%;
        font-size: 125%;
        word-break: break-all;
        
    }

    

	table, thead, tbody, th, td, tr { 
    
        @include break(0px,960px) {
            display: block;
        
        }
	}
	

	thead tr {
        
        @include break(0px,960px) {
           
        position: absolute;
		top: -9999px;
		left: -9999px;
        
        }
	}
    
    caption {
        line-height: 2;
        font-size: 20px;
        color: $titleBlue;
        margin-bottom: 10px;
        
        @include break(0px,960px) {
            font-size: 125%;
        
    }
        
    }
    
    th {
        color: #fff;
        background-color: #004669;
        border-bottom: 1px solid #fff;
        padding: 10px;

        &:first-child {
            border-top-left-radius:5px;
        }

        &:last-child {
            border-top-right-radius:5px; 
        }
        
        @include break(0px,960px) {
            
            &:nth-child(2) {
                display: none;
            }
	    }
    
    }
    
    td {
        width: auto;
        border: 1px solid #fff;
        color:#fff;
        padding: 10px;
        
        &:first-child {
            width: auto;
        }
        
        &:nth-child(n+2) {
            width: auto;
        }
    
        a {
            display: block;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            
            &:hover {
                color: #938686;
            }
            
            @include break(0px,960px) {
                display: inline;
				color: #000;
                    
            }
        
        }
        
        @include break(0px,960px) {
            border: none; 
            position: relative;
            
            &:first-child {
                font-size: 125%;
        }
            
            &:nth-child(2) {
                display: none;
            }
            
	    }

    }
    
    tr {
        &:nth-child(even) {
            background-color: #69A4B8;
        }

        &:nth-child(odd) {
            background-color: #90C3D4;
        }

        &:hover { 
            background-color: #a1c572;
        }
        
        @include break(0px,960px) {
            border: none;
            border-top: 1px solid #fff;
        }
    }
}


/* to style textareas on the comments page */
#rubrik {
    width: 350px;
}

#in {
    width: 350px;
    height: 200px;
}