/******Styling for the bouncing arrow icon*******/
.faa {
	width: 60px;
	display: block;
	text-align: center;
	color:#ffffff;
	font:normal 45px 'FontAwesome';
	-webkit-font-smoothing: antialiased;
}

/******Animation for the bouncing arrow icon*******/		 
.bounce {
	position: absolute;
	bottom: 35px;
	left: 50% ;
	width: 60px;
	height: 45px;
	margin-left:-30px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
	@include break(0px, 860px) {
  		display: none;
  	}
}

/******Animation for different webbrowsers*******/	
//@-webkit-keyframes bounce {
//	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
//	40% {-webkit-transform: translateY(-30px);}
//	60% {-webkit-transform: translateY(-15px);}
//}
// 
//@-moz-keyframes bounce {
//	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
//	40% {-moz-transform: translateY(-30px);}
//	60% {-moz-transform: translateY(-15px);}
//}
// 
//@-o-keyframes bounce {
//	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
//	40% {-o-transform: translateY(-30px);}
//	60% {-o-transform: translateY(-15px);}
//}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}