
body {
	margin: 0 auto;
	background-color: $backgroundColor;
	@include basicText();
}

h2, h3, h4, h5 {
	@include headings();
}

h1 {
	font-family: 'Poiret One', 'Josefin Sans', serif;
	color: $titleColor;
	letter-spacing: 0.15em;
	@include break(0px, 480px) {
		font-size: 30px;
	}
}

time {
	@include basicText();
}

/****** General styling of links *******/
a {
	font-weight: bold;
    text-decoration: none;
    color: white;
    &:hover {
		color: $linkHover;
	}
}

li {
	display: inline;
	@include break(0px, 650px) {
		display: block;
	}
	@include break(0px, 650px) {
	padding-bottom: 10px;
    font-size: 18px;	
	}
	a {
		color: black;
		@include basicText();
		padding-right: 15px;		
	}
}

ul {
	padding: 0;
	margin: 0;
}

img {
	padding-top: 10px;
	width: 800px;
	max-width: 100%;
}

textarea {
	margin-bottom: 8px;
	@include break(0, 440px) {
		width: 95%;
	}
} 


select, .space{
	margin-bottom: 8px;
}

input[type="file"]{
	padding-bottom: 10px;
}

/******Styling for the green feedback message*******/
.feedback_green {
	color: $feedback_green;
	font-weight: bold;
}

.feedback_red {
	color: $feedback_red;
	font-weight: bold;
}