/******Styling for the footer*******/
.footer_content {
	background-color: $blue;
	width: 100%;
	height: 93px;
	position: relative;
	margin: 0 auto;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	@include break(0px, 730px) {
  		height: 200px;
  		margin: 0 auto;
  	}
}

/******To get the contact information to the left*******/
.footer_contact {
	float: left;
}

/******To style the contant information*******/
.footer_p {
	color: #ffffff;
	margin: 0 auto;
	padding-top: 8px;
	padding-left: 150px;
	font-size: 15px;
	font-weight: bold;
	@include break(0px, 730px) {
		padding-left: 10px;
  	}
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: $linkHover;
		}
	}
}

/******Styling for the icons to facebook, instagram, twitter*******/
.footer_icons {
	font-size: 12px;
	float: right;
	clear: right;
	padding-right: 120px;
	padding-top: 15px;
	@include break(0px, 555px) {
  		padding-left: 10px;
  		float: left;		
  	}
	a {
		color: white;
		text-decoration: none;
		padding-right: 20px;
		&:hover {
			color: $linkHover;
		}
	}
}

/******Styling for the text "följ oss här"*******/
.footer_follow {
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	float: right;
	clear: right;
	padding-right: 175px;
	padding-top: 8px;
	@include break(0px, 555px) {
  		padding-left: 7px;
  		padding-right: 200px;
  		padding-top: 20px;
  		float: left;
  	}
}