
label {
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
}



input[type="submit"]{
	@include input($submitButton, 255px);
	margin-top: 17px;
	
	&:hover {
		background-color: darken($submitButton, 10%);
	}
}

input[type="email"], input[type="text"], input[type="password"]{
	@include input($inputField, 250px);
	margin-bottom: 10px;	
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 9000s ease-in-out 0s;
    transition-property: background-color, color;
}

