/******For the background picture in the header*******/
.background_header {
    //width: 100%;
    height: 200px;
    background-image: url("test1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center 100px;
    padding-top: 350px;
    background-attachment: fixed;
    margin: 0 auto;
    @include break(651px, 1100px) {
      padding-top: 230px;
    } 
    @include break(0, 650px) {
      background-image: none;
      padding-top: 10px;
      
    }
}

/******For the everything thats inside the header*******/
.header {
   background-color: $blue;
   padding: 10px;
   top: -20px;
   z-index: 100;
   position: fixed;
   box-sizing: border-box;
   width: 100%;
    h1 {
      margin: 0;
    }
}

/******Styling for the title in header*******/
.header_title {
  color: $h1;
  font-size: 45px;
  margin: 0;
  padding-top: 17px;
  text-shadow: 2px 2px black;
  font-family: 'Poiret One', serif;
  text-align: center;
  @include break(411px, 650px) {
    font-size: 32px;
  }
  @include break(0px, 410px) {
    font-size: 20px;
  }
}




