 /******To push down the content on the comment page*******/
.push_down_content {
	width: 100%;
	height: 110px;
	@include break(0px, 650px) {
		height: 230px;
	}
}

.comment_box {
	p, h2 {
	width: 500px;
	margin: 0 auto;
	padding: 10px;
	@include break(0px, 780px) {
	width: auto;
	}

	}
}


 .center_comments {
 	h3, form, p {
 	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	@include break(0px, 530px) {
		width: auto;
		} 

 	}

 }


/******To make space between the comments in comments.php*******/
.center_comments > .comment_space_between {
	padding-bottom: 20px;
	font-size: 15px;
	width: 500px;
	@include break(0px, 780px) {
		max-width: 95%;
	}
}

/******Style for the author and date to the previous comments to a blog post*******/
.comment_author_date {
	font-weight: bold;
	margin: 0;
	padding-bottom: 2px;
}

/******For the content on the comment page to be centered *******/
.comments_center {
	width: 60%;
	margin: 0 auto;
}

/******For the content on the index and categories pages*******/
.index_blog_post {
	margin-bottom: 90px;
	margin-top: 10px;
		article {
			width: 750px;
			margin: 0 auto;
			@include break(0px, 780px) {
				width: auto;
				margin: 9px;
				}
			div {
				width: 650px;
				margin: 0 auto;
				padding-bottom: 80px;
				@include break(0px, 780px) {
				width: auto;	
				}
				p {
					line-height: 1.3;
					@include basicText();
					padding-top: 15px;
			}
		}
	}
}

/******For the content on the comments page*******/
.comment_post {
	margin-bottom: 90px;
	margin-top: 10px;
	article {
		width: 750px;
		margin: 0 auto;
		@include break(0px, 780px) {
			width: auto;
			margin: 9px;
		}
		div {
			width: 650px;
			margin: 0 auto;
			padding-bottom: 10px;
			@include break(0px, 780px) {
			width: auto;	
			}
		}
	}
}

/******For the links on the index page*******/
.links_index {
	background-color: $backgroundColorHeader;
	display: flex;
	justify-content: center;
	padding-top: 6px;
	padding-bottom: 6px;
	a {
		color: white;
		font-family: 'Poiret One', serif;
		font-weight: bold;
		padding-right: 25px;
		padding-left: 25px;
		&:hover {
			color: $linkHover;
		}
	}
}