
// Mixins for the fonts
@mixin basicText() {
	font-family: 'Raleway', 'Noto Sans', 'Nunito Sans', sans-serif;
}

@mixin headings() {
	font-family: 'Poiret One', 'Josefin Sans', serif;
	color: $titleColor;
	letter-spacing: 0.15em;
}

// Mixin for input fields
@mixin input($backgroundColor, $width) {
	background-color: $backgroundColor;
	border: none;
	border-radius: 3px;
	width: $width;
	height: 40px;
}

// Mixin for break points
@mixin break($minLength,$maxLength) {
	@media (min-width: $minLength) and (max-width: $maxLength) {
		@content;
	}
}

// Mixin fo border-radius
@mixin rounded($radius: 5px) {
	border-radius: $radius;
}