$green: #3Bcba1;
$blue: #75b39e;
$yellow: #fdfbde;
$light: #f9f2ea;
$white: #ffffff;
$lightGrey: #eeeeee;
$blue: #004669;
$lightblue: #6abfe8;
$titleBlue: #5491bf;
$brightGreen: #a2c378;
$red: #b93131;
$greenGrey: #b9d496;
$beige: #eff3ea;

$backgroundColor: $white;
$h1: $white;
$backgroundColorHeader: $blue;
$linkHover: $lightblue;
$titleColor: $titleBlue;

$feedback_green: #5cb85c;
$feedback_red: #d9534f;
$submitButton: $greenGrey; 
$inputField: $beige;

